### Java ###
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear



*.iml
### Gradle ###
.gradle

# Ignore Gradle GUI config
gradle-app.assetWizardSettings

# Avoid ignoring Gradle wrapper jar file
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/
/captures
.externalNativeBuild
.cxx
local.properties

# api xml #
google_maps_api.xml
